<a href="https://colab.research.google.com/github/Nwasir/data_science_project/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Data science tools
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   Julia

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   Tensorflow
3.   Matplotlib
4.   Numpy

| | Data Science Tools |
| - | ----------------- |
| 1 | Google Colab |
| 2 | Jupyter Notebook |
| 3 | Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3 * 4)  + 5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
an_hour = 60 #minutes
200 / an_hour

3.3333333333333335

## Author
  Nnanna Arua Uko